@font-face {
    font-family: 'jf open 粉圓';
    src: url('https://cdn.jsdelivr.net/gh/isrurume/jf-openhuninn-font@main/jf-openhuninn-2.1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
